.textRecomendaciones{
    text-align: center;
    margin-right: auto;
    margin-right: auto;
    font-size: 150%;
    color: black;
}
.subtituloRecomendaciones{
    border-bottom: solid black;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 35px;
    width: 250px;
}