.formBox{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    .container{
        max-width: 250px;
        width: 100%;
        background-color: white;
        padding: 30px 30px;
        border-radius: 5px;
        border: solid black 3px;
        .Eleccion{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 30px;
        }
        .Label{
            margin: 10px;
        }
        .controls{
            
            display: flex;
            flex-direction: row;
            margin-left: 20px;
        }
    }
    
}